<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="2047FrancescoBonizzi.INFART"
    Publisher="CN=24FC325C-4F10-438B-A2D9-03E8E5E1D100"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="861445be-4cfd-4b71-b871-b1b15e765f19" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>INFART</DisplayName>
    <PublisherDisplayName>Francesco Bonizzi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Infart.UWP.App">
      <uap:VisualElements
        DisplayName="INFART"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="The ozone hole has widened due to farts. There is no more atmosphere on earth. It is destroyed. Set in an abstract city, constantly changing, INFART is a very simple RUN AND FART game, where you have to eat vegetables, avoid hamburgers and holes."
        BackgroundColor="#082f41">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="INFART"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#082f41"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>